project_file/*.resource_order
*.resource_order
project_file/datafiles/
project_file/fonts/
project_file/objects/
project_file/options/
project_file/rooms/
project_file/sounds/
project_file/sprites/
project_file/tilesets/
extensions
